<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ScrumStore.Properties.Settings.scrumConnection" connectionString="Data Source=zulu.cspc1.uwindsor.ca;Initial Catalog=ScrumTeamDB16;User ID=ScrumTeam16;Password=ScrumTeam16" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>